:root {
  --color-grey: #414141;
  --color-white: #e5e4e2;
  --border-bottom: 2px solid var(--color-grey);
}

html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  font-family: "EB Garamond", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  hyphens: auto;
  word-wrap: break-word;
  overflow-x: auto;
}

p,
h1,
h2,
h3,
h4,
h4,
h5,
h6 {
  margin: 0;
}

main {
  padding: 92px 30px 20px 30px;
  width: 100%;
  border: 1px solid var(--color-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  max-width: 950px;
  margin: 0 auto;
}

.middle_title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.little-title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  font-weight: 400;
}